.about-container {
    margin: 160px 0 0;
    padding: 0 162px;
    display: flex;
    color: #fff;
    height: fit-content;

    .about-container__content {
        max-width: 50%;

        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 32px;
        }

        &__desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #B8B8B8;
        }
    }
}

.about-info-container {
    display: flex;
    margin-top: 40px;
    gap: 32px;

    .about__item {
        color: #B8B8B8;

        .about__info__title {
            display: flex;
            text-align: center;
            align-items: center;
            gap: 7px;
            margin-bottom: 15px;

            &__text {
                font-weight: 500;
                font-size: 24px;
                line-height: 18px;

                color: #C4E4EA;
            }
        }
    }
}

.about-container__photo {
    display: flex;
    margin-left: 102px;
    gap: 102px;

    .photo-one {
        position: relative;
        bottom: -20%;
    }
}


@media (max-width:575px) {
    .about-container {
        margin: 30px 0;
        padding: 0;
        display: inline-block;
        align-items: center;
        text-align: center;

        .about-container__content {
            max-width: 90%;

            &__title {
                font-size: 30px;
                text-align: center;
            }

            .promo__button {
                text-align: center;

                button {
                    text-align: center;
                    width: 70%;
                }

                button:hover {
                    transition: 0.9 ease-in-out;
                    width: 100%;
                    transform: scale(1);
                }
            }
        }

        .about-container__photo {
            display: none;
        }
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .about-container {
        padding: 0 20px;
        text-align: center;
        display: inline-block;

        .about-container__content {
            max-width: 100%;

            &__title {
                display: block;
            }
        }

        .about-container__photo {
            display: none;
        }

        .about-info-container {
            .about__item {
                background: rgba(0, 0, 0, 0.16);
                padding: 5px;

                .about__info__title {
                    justify-content: center;
                    flex-wrap: wrap;

                    .about__info__title__text {
                        line-height: 20px;
                    }
                }
            }
        }

        .promo__button {
            display: none;
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .about-container {
        padding: 0;
        justify-content: center;

        &__photo {
            .photo-one {
                bottom: 0;
            }

            .photo-two {
                display: none;
            }
        }
    }
}

@media (min-width:1025px) and (max-width:1440px) {
    .about-container {
        padding: 0 20px;
    }
}