.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px;

    .logo {
        text-decoration: none;
        color: #FFB577;
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        padding: 0 30px;

        .nav-link {

            &__item {
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600px;
                padding: 0 20px;

                &:hover {
                    color: #FFB577;
                    transition: all 0.8s;
                }
            }
        }
    }

    .nav-button {
        margin-left: auto;

        .project {
            background: #19161B;
            color: #FFB577;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            border: none;
        }

        .project:hover {
            transition: 0.8s ease-in-out;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

@media(max-width:991px) {
    .nav-button {
        display: none;
    }
}

@media(max-width: 768px) {
    .header-container {
        display: flex;
        justify-content: center;

        .logo {
            font-size: 31px;
            height: 13vh;
        }

        .nav-wrapper {
            display: flex;
            position: absolute;
            top: 79px;
            justify-content: space-evenly;

            .nav-link {
                &__item {
                    font-size: 21px;
                    padding: 0 13px;
                }
            }
        }
    }
}

@media (max-width:425px) {

    .header-container {
        padding: 22px 0;

        .nav-wrapper {
            .nav-link {
                display: flex;
                flex-direction: column;
                text-align: center;
                flex-wrap: wrap;

                &__item {
                    margin: 7px 0 0;
                }
            }
        }
        }
}