.promo-wrapper {
    display: flex;
    margin-top: 96px;
    position: relative;
    min-height: 650px;

    .promo-container {
        padding: 0 162px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .promo-container__left {
        margin-right: 32px;
        color: #fff;

        .promo__title {
            font-weight: 700;
            font-size: 46px;
            line-height: 68px;
        }

        .promo__description {
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
        }


        .main__info {
            margin: 40px 0;

            .info__item {
                margin-top: 10px;

                .info__item__title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                }

                .info__item__desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    opacity: 0.6;
                }
            }
        }
    }
}

.promo__button {
    margin-top: 32px;

    .menu__submit {
        background: #ffb577;
        padding: 12px 52px 12px 24px;
        color: #2E2D33;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .menu__submit:hover {
        transform: scale(1.2);
        transition: 0.9s ease-in-out;
        cursor: pointer;
    }
}


@media (max-width:425px) {
    .promo-wrapper {

        .promo-container {
            display: block;
            width: 100%;
            padding: 0;

            .promo-container__left {
                margin: 0;
                padding: 0 20px;

                .promo__title {
                    font-size: 20px;
                }
            }

            .promo-container__right {
                display: inline;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

    }
}

@media (min-width:576px) and (max-width: 768px) {
    .promo-wrapper {
        min-height: auto;

        .promo-container {
            padding: 0 20px;
            display: block;

            .promo-container__left {

                .promo__title {
                    font-size: 20px;
                    line-height: auto;
                }

                .promo__button {
                    text-align: center;

                    button {
                        text-align: center;
                        width: 70%;
                    }

                    button:hover {
                        transition: 0.9 ease-in-out;
                        width: 100%;
                        transform: scale(1);
                    }
                }

                .main__info {
                    display: flex;
                    margin: 40px auto;
                    gap: 15px;
                }
            }

            .promo-container__right {
                display: none;
            }
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .promo-wrapper {
        .promo-container {
            padding: 0 20px;
            margin: 0;

            .promo__title {
                font-size: 37px;
            }
        }
    }
}