.quote-wrapper {
    margin-top: 105px;
    background: #1F1D21;
    display: flex;

    .quote-left {
        color: #fff;

        &__main {
            margin: 160px 78px 72px 160px;

            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            opacity: 0.87;
        }

        .quote-left__domain {
            display: flex;
            justify-content: space-between;
            margin: 0 78px 0 160px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.341);

            .quote-left__domain__name {

                &__name {
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 24px;
                    opacity: 0.87;
                }

                //doesnt work idkw
                &__place {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: red;
                }
            }

            &__avatar {
                border-bottom: solid #fff;
            }
        }
    }
}


@media (max-width:768px) {
    .quote-wrapper {
        display: inline-block;

        .quote-left {
            padding: 0 20px;

            &__main {
                margin: 0;
                font-size: 20px;
                opacity: 0.87;
            }

            .quote-left__domain {
                margin: 30px 0;
                display: block;
                text-align: center;

                &__avatar {
                    margin: 13px 0;
                    border: 0;
                }
            }
        }

        .quote-right {
            width: 100%;
        }
    }

    .quote-right {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .quote-wrapper {
        display: block;

        .quote-right {
            margin: 32px 0;

            img {
                width: 100%;
            }
        }
    }
}