@import './parts/footer.scss';
@import './parts/header.scss';
@import './parts/promo.scss';
@import './parts/offers.scss';
@import './parts/about.scss';
@import './parts/menu.scss';
@import './parts/quote.scss';
@import './parts/blog.scss';

body {
  margin: 0;
  padding: 0;
  background: #19161B;
}